@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300;600&display=swap');

:root{
    --darkest: #393646;
    --medium:#4f4557;
    --accent:#f4eee0;
}

body{
    margin:0;
    font-family: 'Playpen Sans', cursive;
    font-size:18px;
    background-color: var(--darkest);
    color:var(--accent);
    font-weight: 300;
}
.interface{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin:0;
    padding-left: 10px;
    background-color: var(--accent);
    color: var(--medium);
}
.board{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    min-width: 300px;
    min-height: 300px;
    width: 30vw;
    height: 30vw;
    font-size:60px;    
    font-weight: 600;
    margin:35px auto;
}
.board-active{
    background-color: var(--medium);
    border:2px solid var(--accent);
    transition:  background-color ease-in 0.5s;
    
}
.board-field{
    border:2px solid var(--darkest);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mark{
    margin:0;
}
.options{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom: 1.5em;
    margin-top: 2.5em;
    align-items: center;
}

input{
    border: solid 2px var(--medium);
    border-radius: .5rem;
    padding: 5px;
    font-size: 18px;
    background-color: var(--medium);
    color: var(--accent);
    margin-left: 5px;
    max-width: 90px;
}
#play{
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Playpen Sans';
    background-color: var(--accent);
    color:var(--darkest);
    border:2px solid var(--darkest);
    outline:none;
    border-radius: .5rem;
    transition:color,0.5s;
}
#play:hover,
#play:target,
#play:active{
    background-color: var(--darkest);
    color:var(--accent);
    border:2px solid var(--accent);
}

.singlePlayer-label{
    background-color: var(--medium);
    color: var(--darkest);
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    border-radius: .5rem;
    margin:0px 10px;
}
#o-singleplayer-selection:checked+label,
#x-singleplayer-selection:checked+label {
    background-color: var(--accent);
    color: var(--darkest);
  }
  
#o-singleplayer-selection,
#x-singleplayer-selection{
    display:none;
}
#symbol-selection-box{
    display:flex;
    justify-content: center;
}
#AI{
    width: 25px;
    height: 25px;
}
.win-popup{
    position:absolute;
    background-color: var(--medium);
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: 20px 50px;
  border-radius: .5rem;

}
@media only screen and (max-width: 600px) {
    .win-popup{
        top: 10%;
        font-size: 40px;
    }
}